body{
    background-color: #5474ff;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;}
h1{
    margin:0 0 1rem 0;
    padding-bottom:1rem;
    border-bottom:1px solid #e2e8f0;}

button{
    width:100%;
    padding:0.75rem 1.5rem;
    border:none;
    border-radius:0.5rem;
    box-shadow: 2px 5px 10px #000 ;
    background: #3b82f6;
    color:white;
    margin-top: 10px;
}

input{
    margin-top: 10px;
    flex:1;
    padding:0.75rem;
    border:1px solid #d1d5db;
    border-radius:0.5rem;
    font-size:1rem;
    box-shadow: 2px 5px 10px #000 ;

}

button:hover{background-color:#2563eb;}
.search{
    flex:1;
    padding:0.75rem;
    border:1px solid #d1d5db;
    border-radius:0.5rem;
    font-size:1rem;}

.inputbar{
    padding:1rem;
    background-color:white;
    border-top:1px solid #e2e8f0;
    display:flex;
    gap:0.5rem;}
#message-input{
    flex:1;
    padding:0.75rem;
    border:1px solid #d1d5db;
    border-radius:0.5rem;
    font-size:1rem;}

@media screen and (min-width:663px){
    .inputbar{padding: 0.75rem;gap:0.5rem;}
    input, .search,#message-input,#send-btn{font-size: 120%;}
}
@media screen and (max-width:662px){
    .inputbar{
        padding: 0.5rem;
        gap:0.25rem;
        font-size: 120%;
    }
    body{font-size: 120%;}

}